@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #000;
    background-image: url("../img/shapes.png");
  background-repeat: repeat;
  background-color: #ffffff;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 2rem;
}

label {
    font-family: monospace, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    display: block;
    font-size: 28px;
}

input {
    margin: 10px;
}

#button {
    display: block;
    margin: 0 auto;
}

p {
font-family: monospace, Arial, Helvetica, sans-serif;
text-decoration: overline;
font-size: 32px;
}

#mac {
background-image: url("../img/mac2.png");
background-size: contain;
max-width: 1200px;
max-height: 500px;
}